body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#navt{
    
    padding: 0 15px;
    height: 60px;
    color: rgb(245,245,245);
    background-color:#1C1C1C;
   
   
   
    
}

#navt h2, #navt ul, #nav-lista1 li,#navt nav{
    display: inline-block;
}

#navt h2{
    margin: 0;
    line-height: 60px;
    margin-left: 6%;

}

#navt img{
    height: 40px;
   top: 10px;
   margin-left: auto;
    
    position: absolute;
}

#navt nav{
    float: right;
    
}
#navt ul{
margin: 22px;
}

#navt li{
    margin: 0 5px;
    
}

#nav-lista1 li a{
    text-decoration: none;
    color: white;
    padding: 4px;
}
#nav-lista1 li a:hover{
    border: 3px solid yellow;
    width: auto;
}

main{
    height: 70vh;
    background-color: rgb(17, 17, 16);
  margin: auto;
    width: 100%;

}

section{
    position: absolute;
    background-color: tomato;
   height: 90px;
   padding: 15px;
   width: 80%;
   left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
}

p{
    text-align: center;
    margin-top: 10px;
}

footer{
    
    background-color: #1C1C1C;
    height: 120px;
    text-align: center;
    padding: 20px;
}



.figura{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: teal;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 6px;
    
}

.figura2{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: teal;
    
    margin-top: 40px;
    border-radius: 6px;
    
    left: 95%;
    
}

h1{
    margin-top: 20px;
}

.content{
    
    max-width: 1200px;
   height: 95vh;
   margin: auto;
  
    
    
}

#vid1564730217{
           
    background-color: rgba(0, 0, 0, 0.926);
     position: absolute;
    width: 600px;
    height: 300px;
     
     left: 50%;
     top: 45%;
     transform: translate(-50%, -50%);
    
 
 }
 .mensagem{
     border-radius: 8px;
     
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 8px;
    left: 30px;
    margin-top: 22px;
    background-color: rgba(28,28,28);

    
}

.mensagem p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(51, 233, 27);
    margin: 10px;
    position: absolute;
    text-align: left;

}
.mensagem h1{
    text-align: center;
}

h1{
    color: rgb(250, 244, 244);
}



  @media screen and (max-width: 851px) {
    #navt h2{
       display: none;
    
    }
    #vid1564730217{
        width: 95%;
        height: 60%;
    }

    .mensagem{
       display: none;
       
        
    }
  }

  @media screen and (max-width: 468px) {
    #navt h2{
       display: none;
    
    }
    #vid1564730217{
        width: 95%;
        height: 200px;
    }

    .mensagem{
       display: none;
       
        
    }
  }
